USE [master]
GO
/****** Object:  Database [Grup26]    Script Date: 31/12/2025 22:55:19 ******/
CREATE DATABASE [Grup26]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BirLojistikFirmasininDepoYonetimSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BirLojistikFirmasininDepoYonetimSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BirLojistikFirmasininDepoYonetimSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BirLojistikFirmasininDepoYonetimSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Grup26].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Grup26]
GO
/****** Object:  Table [dbo].[TabloDepo]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloDepo](
	[DepoID] [int] NOT NULL,
	[DepoSehir] [nvarchar](50) NULL,
	[DepoAd] [nvarchar](100) NULL,
	[DepoDolulukOrani] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloFatura]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloFatura](
	[FaturaID] [int] NOT NULL,
	[SiparisID] [int] NULL,
	[MusteriID] [int] NULL,
	[FaturaKDV] [decimal](4, 2) NULL,
	[FaturaTarihi] [date] NULL,
	[FaturaToplamTutar] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[FaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloFirmaArac]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloFirmaArac](
	[FirmaAracID] [int] NOT NULL,
	[Plaka] [varchar](20) NULL,
	[AracModel] [nvarchar](50) NULL,
	[AracMarka] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmaAracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloKategori]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloKategori](
	[KategoriNo] [int] NOT NULL,
	[KategoriAd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloMusteri]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloMusteri](
	[MusteriID] [int] NOT NULL,
	[VergiNo] [varchar](20) NULL,
	[MusteriAdSoyad] [nvarchar](100) NULL,
	[MusteriDogumGunu] [date] NULL,
	[MusteriSehir] [nvarchar](50) NULL,
	[NusteriEposta] [varchar](100) NULL,
	[MusteriTel] [varchar](15) NULL,
	[MusteriCinsiyet] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloPersonel]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloPersonel](
	[PersonelID] [int] NOT NULL,
	[PersonelTC] [varchar](12) NULL,
	[PersonelAdSoyad] [nvarchar](100) NULL,
	[PersonelTel] [varchar](15) NULL,
	[PersonelMaas] [decimal](18, 2) NULL,
	[PersonelCinsiyet] [nvarchar](10) NULL,
	[VardiyaID] [int] NULL,
	[YoneticiID] [int] NULL,
	[DepoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloSiparis]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloSiparis](
	[SiparisID] [int] NOT NULL,
	[MusteriID] [int] NULL,
	[SiparisTarihi] [date] NULL,
	[TasimaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloSiparisDetay]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloSiparisDetay](
	[SiparisDetayID] [int] NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[SiparisMiktar] [int] NULL,
	[SiparisBirimFiyat] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloSofor]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloSofor](
	[EhliyetNo] [int] NOT NULL,
	[SoforAdSoyad] [nvarchar](100) NULL,
	[LisansSinifi] [nvarchar](10) NULL,
	[MusaitlikDurumu] [nvarchar](50) NULL,
	[FirmaAracID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EhliyetNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloStok]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloStok](
	[StokID] [int] NOT NULL,
	[StokMiktar] [int] NULL,
	[StokGirisTarihi] [date] NULL,
	[RafID] [varchar](20) NULL,
	[DepoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloTasima]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloTasima](
	[TasimaID] [int] NOT NULL,
	[TakipNo] [nvarchar](20) NULL,
	[TeslimTarihi] [date] NULL,
	[FirmaAracID] [int] NULL,
	[EhliyetNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TasimaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloTedarik]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloTedarik](
	[TedarikNo] [int] NOT NULL,
	[TedarikTarihi] [date] NULL,
	[TedarikMiktar] [int] NULL,
	[TedariciID] [varchar](20) NULL,
	[UrunID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikNo] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloTedarikci]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloTedarikci](
	[TedarikciID] [varchar](20) NOT NULL,
	[TedarikciVergiNo] [varchar](20) NULL,
	[TedarikciSehir] [nvarchar](50) NULL,
	[TedarikciEposta] [nvarchar](100) NULL,
	[TedarikciTel] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloUrun]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloUrun](
	[UrunID] [int] NOT NULL,
	[UrunAd] [nvarchar](100) NULL,
	[KategoriNo] [int] NULL,
	[StokID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloVardiya]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloVardiya](
	[VardiyaID] [int] NOT NULL,
	[VardiyaTuru] [nvarchar](20) NULL,
	[VardiyaTarih] [date] NULL,
	[VardiyaBaslangicSaat] [time](7) NULL,
	[VardiyaBitisSaat] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VardiyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabloYonetici]    Script Date: 31/12/2025 22:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabloYonetici](
	[YoneticiID] [int] NOT NULL,
	[DeneyimYili] [int] NULL,
	[YoneticiMaas] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[YoneticiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TabloDepo] ([DepoID], [DepoSehir], [DepoAd], [DepoDolulukOrani]) VALUES (1, N'Kayseri', N'KayDepo', CAST(0.30 AS Decimal(3, 2)))
INSERT [dbo].[TabloDepo] ([DepoID], [DepoSehir], [DepoAd], [DepoDolulukOrani]) VALUES (2, N'Ankara', N'AnkaDepo', CAST(0.45 AS Decimal(3, 2)))
INSERT [dbo].[TabloDepo] ([DepoID], [DepoSehir], [DepoAd], [DepoDolulukOrani]) VALUES (3, N'Izmir', N'IzDepo', CAST(0.60 AS Decimal(3, 2)))
GO
INSERT [dbo].[TabloFatura] ([FaturaID], [SiparisID], [MusteriID], [FaturaKDV], [FaturaTarihi], [FaturaToplamTutar]) VALUES (601, 10, 1, CAST(20.00 AS Decimal(4, 2)), CAST(N'2024-09-10' AS Date), CAST(3300.00 AS Decimal(18, 2)))
INSERT [dbo].[TabloFatura] ([FaturaID], [SiparisID], [MusteriID], [FaturaKDV], [FaturaTarihi], [FaturaToplamTutar]) VALUES (602, 11, 2, CAST(70.00 AS Decimal(4, 2)), CAST(N'2025-09-10' AS Date), CAST(6630.00 AS Decimal(18, 2)))
INSERT [dbo].[TabloFatura] ([FaturaID], [SiparisID], [MusteriID], [FaturaKDV], [FaturaTarihi], [FaturaToplamTutar]) VALUES (603, 12, 3, CAST(40.00 AS Decimal(4, 2)), CAST(N'2025-09-10' AS Date), CAST(2877.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TabloFirmaArac] ([FirmaAracID], [Plaka], [AracModel], [AracMarka]) VALUES (1, N'38 TKS 001', N'Doblo', N'Fiat')
INSERT [dbo].[TabloFirmaArac] ([FirmaAracID], [Plaka], [AracModel], [AracMarka]) VALUES (2, N'38 TKS 003', N'Doblo', N'Fiat')
INSERT [dbo].[TabloFirmaArac] ([FirmaAracID], [Plaka], [AracModel], [AracMarka]) VALUES (3, N'06 TMS 201', N'Transit Courier', N'Ford')
GO
INSERT [dbo].[TabloKategori] ([KategoriNo], [KategoriAd]) VALUES (101, N'Dis Giyim')
INSERT [dbo].[TabloKategori] ([KategoriNo], [KategoriAd]) VALUES (102, N'Üst Giyim')
INSERT [dbo].[TabloKategori] ([KategoriNo], [KategoriAd]) VALUES (103, N'Alt Giyim')
GO
INSERT [dbo].[TabloMusteri] ([MusteriID], [VergiNo], [MusteriAdSoyad], [MusteriDogumGunu], [MusteriSehir], [NusteriEposta], [MusteriTel], [MusteriCinsiyet]) VALUES (1, N'15246798', N'Ali VURAL', CAST(N'2004-07-07' AS Date), N'Ankara', N'alivural2004@gmail.com', N'5525486235', N'ERKEK')
INSERT [dbo].[TabloMusteri] ([MusteriID], [VergiNo], [MusteriAdSoyad], [MusteriDogumGunu], [MusteriSehir], [NusteriEposta], [MusteriTel], [MusteriCinsiyet]) VALUES (2, N'14315792', N'Ömer ALACA', CAST(N'2005-06-26' AS Date), N'Ankara', N'omeralaca@gmail.com', N'5478529632', N'ERKEK')
INSERT [dbo].[TabloMusteri] ([MusteriID], [VergiNo], [MusteriAdSoyad], [MusteriDogumGunu], [MusteriSehir], [NusteriEposta], [MusteriTel], [MusteriCinsiyet]) VALUES (3, N'14318795', N'Ajda ENDER', CAST(N'2004-05-15' AS Date), N'Kayseri', N'aender2004@gmail.com', N'5147895263', N'KADIN')
GO
INSERT [dbo].[TabloPersonel] ([PersonelID], [PersonelTC], [PersonelAdSoyad], [PersonelTel], [PersonelMaas], [PersonelCinsiyet], [VardiyaID], [YoneticiID], [DepoID]) VALUES (50, N'12365412345', N'Selim KARA', N'5216485623', CAST(25000.00 AS Decimal(18, 2)), N'ERKEK', 801, 10004, 1)
INSERT [dbo].[TabloPersonel] ([PersonelID], [PersonelTC], [PersonelAdSoyad], [PersonelTel], [PersonelMaas], [PersonelCinsiyet], [VardiyaID], [YoneticiID], [DepoID]) VALUES (51, N'12365478963', N'Nalan DEMIR', N'5236547891', CAST(30000.00 AS Decimal(18, 2)), N'KADIN', 802, 10003, 1)
INSERT [dbo].[TabloPersonel] ([PersonelID], [PersonelTC], [PersonelAdSoyad], [PersonelTel], [PersonelMaas], [PersonelCinsiyet], [VardiyaID], [YoneticiID], [DepoID]) VALUES (52, N'12365478574', N'Ferhat ACAR', N'5321475146', CAST(25000.00 AS Decimal(18, 2)), N'ERKEK', 803, 10006, 1)
GO
INSERT [dbo].[TabloSiparis] ([SiparisID], [MusteriID], [SiparisTarihi], [TasimaID]) VALUES (10, 1, CAST(N'2025-06-10' AS Date), 956)
INSERT [dbo].[TabloSiparis] ([SiparisID], [MusteriID], [SiparisTarihi], [TasimaID]) VALUES (11, 2, CAST(N'2025-06-10' AS Date), 987)
INSERT [dbo].[TabloSiparis] ([SiparisID], [MusteriID], [SiparisTarihi], [TasimaID]) VALUES (12, 3, CAST(N'2025-06-10' AS Date), 923)
GO
INSERT [dbo].[TabloSiparisDetay] ([SiparisDetayID], [SiparisID], [UrunID], [SiparisMiktar], [SiparisBirimFiyat]) VALUES (1234, 10, 2564, 2, CAST(850.00 AS Decimal(18, 2)))
INSERT [dbo].[TabloSiparisDetay] ([SiparisDetayID], [SiparisID], [UrunID], [SiparisMiktar], [SiparisBirimFiyat]) VALUES (1236, 12, 2147, 2, CAST(450.00 AS Decimal(18, 2)))
INSERT [dbo].[TabloSiparisDetay] ([SiparisDetayID], [SiparisID], [UrunID], [SiparisMiktar], [SiparisBirimFiyat]) VALUES (1247, 12, 2354, 3, CAST(385.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TabloSofor] ([EhliyetNo], [SoforAdSoyad], [LisansSinifi], [MusaitlikDurumu], [FirmaAracID]) VALUES (321, N'Ali TOPRAK', N'B', N'Müsait Degil', 1)
INSERT [dbo].[TabloSofor] ([EhliyetNo], [SoforAdSoyad], [LisansSinifi], [MusaitlikDurumu], [FirmaAracID]) VALUES (327, N'Kemal ULU', N'A', N'Müsait', 2)
INSERT [dbo].[TabloSofor] ([EhliyetNo], [SoforAdSoyad], [LisansSinifi], [MusaitlikDurumu], [FirmaAracID]) VALUES (329, N'Riza KÜÇÜK', N'B', N'Müsait', 3)
GO
INSERT [dbo].[TabloStok] ([StokID], [StokMiktar], [StokGirisTarihi], [RafID], [DepoID]) VALUES (103, 10, CAST(N'2023-07-20' AS Date), N'10', 1)
INSERT [dbo].[TabloStok] ([StokID], [StokMiktar], [StokGirisTarihi], [RafID], [DepoID]) VALUES (110, 8, CAST(N'2025-07-20' AS Date), N'11', 2)
INSERT [dbo].[TabloStok] ([StokID], [StokMiktar], [StokGirisTarihi], [RafID], [DepoID]) VALUES (203, 30, CAST(N'2024-07-10' AS Date), N'21', 1)
GO
INSERT [dbo].[TabloTasima] ([TasimaID], [TakipNo], [TeslimTarihi], [FirmaAracID], [EhliyetNo]) VALUES (910, N'86520', CAST(N'2025-09-19' AS Date), 4, 387)
INSERT [dbo].[TabloTasima] ([TasimaID], [TakipNo], [TeslimTarihi], [FirmaAracID], [EhliyetNo]) VALUES (923, N'80321', CAST(N'2025-09-15' AS Date), 5, 354)
INSERT [dbo].[TabloTasima] ([TasimaID], [TakipNo], [TeslimTarihi], [FirmaAracID], [EhliyetNo]) VALUES (930, N'89652', CAST(N'2025-09-20' AS Date), 8, 327)
GO
INSERT [dbo].[TabloTedarik] ([TedarikNo], [TedarikTarihi], [TedarikMiktar], [TedariciID], [UrunID]) VALUES (35, CAST(N'2024-07-09' AS Date), 150, N'412365009', 2147)
INSERT [dbo].[TabloTedarik] ([TedarikNo], [TedarikTarihi], [TedarikMiktar], [TedariciID], [UrunID]) VALUES (35, CAST(N'2025-07-09' AS Date), 100, N'423698520', 4512)
INSERT [dbo].[TabloTedarik] ([TedarikNo], [TedarikTarihi], [TedarikMiktar], [TedariciID], [UrunID]) VALUES (36, CAST(N'2025-07-04' AS Date), 190, N'423698520', 2354)
GO
INSERT [dbo].[TabloTedarikci] ([TedarikciID], [TedarikciVergiNo], [TedarikciSehir], [TedarikciEposta], [TedarikciTel]) VALUES (N'412365009', N'2013', N'Adana', N'AdanaTedarik@gmail.com', N'5154567895')
INSERT [dbo].[TabloTedarikci] ([TedarikciID], [TedarikciVergiNo], [TedarikciSehir], [TedarikciEposta], [TedarikciTel]) VALUES (N'4125783658', N'2003', N'Kirsehir', N'kirtedarik@gmail.com', N'5552415263')
INSERT [dbo].[TabloTedarikci] ([TedarikciID], [TedarikciVergiNo], [TedarikciSehir], [TedarikciEposta], [TedarikciTel]) VALUES (N'421589647', N'2007', N'Bursa', N'bbtedarik@gmail.com', N'5565854163')
GO
INSERT [dbo].[TabloUrun] ([UrunID], [UrunAd], [KategoriNo], [StokID]) VALUES (1785, N'Ceket', 101, 103)
INSERT [dbo].[TabloUrun] ([UrunID], [UrunAd], [KategoriNo], [StokID]) VALUES (1985, N'Kaban', 101, 110)
INSERT [dbo].[TabloUrun] ([UrunID], [UrunAd], [KategoriNo], [StokID]) VALUES (2123, N'Kazak', 102, 203)
GO
INSERT [dbo].[TabloVardiya] ([VardiyaID], [VardiyaTuru], [VardiyaTarih], [VardiyaBaslangicSaat], [VardiyaBitisSaat]) VALUES (701, N'Gece', CAST(N'2022-09-20' AS Date), CAST(N'00:00:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[TabloVardiya] ([VardiyaID], [VardiyaTuru], [VardiyaTarih], [VardiyaBaslangicSaat], [VardiyaBitisSaat]) VALUES (702, N'Gece', CAST(N'2022-09-20' AS Date), CAST(N'00:00:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[TabloVardiya] ([VardiyaID], [VardiyaTuru], [VardiyaTarih], [VardiyaBaslangicSaat], [VardiyaBitisSaat]) VALUES (703, N'Gece', CAST(N'2023-09-21' AS Date), CAST(N'00:00:00' AS Time), CAST(N'08:00:00' AS Time))
GO
INSERT [dbo].[TabloYonetici] ([YoneticiID], [DeneyimYili], [YoneticiMaas]) VALUES (10003, 19, CAST(250000.00 AS Decimal(18, 2)))
INSERT [dbo].[TabloYonetici] ([YoneticiID], [DeneyimYili], [YoneticiMaas]) VALUES (10004, 15, CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[TabloYonetici] ([YoneticiID], [DeneyimYili], [YoneticiMaas]) VALUES (10005, 5, CAST(150000.00 AS Decimal(18, 2)))
GO
ALTER TABLE [dbo].[TabloFatura]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[TabloMusteri] ([MusteriID])
GO
ALTER TABLE [dbo].[TabloPersonel]  WITH CHECK ADD FOREIGN KEY([DepoID])
REFERENCES [dbo].[TabloDepo] ([DepoID])
GO
ALTER TABLE [dbo].[TabloPersonel]  WITH CHECK ADD FOREIGN KEY([VardiyaID])
REFERENCES [dbo].[TabloVardiya] ([VardiyaID])
GO
ALTER TABLE [dbo].[TabloPersonel]  WITH CHECK ADD FOREIGN KEY([YoneticiID])
REFERENCES [dbo].[TabloYonetici] ([YoneticiID])
GO
ALTER TABLE [dbo].[TabloSiparis]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[TabloMusteri] ([MusteriID])
GO
ALTER TABLE [dbo].[TabloSiparis]  WITH CHECK ADD FOREIGN KEY([TasimaID])
REFERENCES [dbo].[TabloTasima] ([TasimaID])
GO
ALTER TABLE [dbo].[TabloSiparisDetay]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[TabloSiparis] ([SiparisID])
GO
ALTER TABLE [dbo].[TabloSiparisDetay]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[TabloUrun] ([UrunID])
GO
ALTER TABLE [dbo].[TabloSofor]  WITH CHECK ADD FOREIGN KEY([FirmaAracID])
REFERENCES [dbo].[TabloFirmaArac] ([FirmaAracID])
GO
ALTER TABLE [dbo].[TabloStok]  WITH CHECK ADD FOREIGN KEY([DepoID])
REFERENCES [dbo].[TabloDepo] ([DepoID])
GO
ALTER TABLE [dbo].[TabloTasima]  WITH CHECK ADD FOREIGN KEY([FirmaAracID])
REFERENCES [dbo].[TabloFirmaArac] ([FirmaAracID])
GO
ALTER TABLE [dbo].[TabloTedarik]  WITH CHECK ADD FOREIGN KEY([TedariciID])
REFERENCES [dbo].[TabloTedarikci] ([TedarikciID])
GO
ALTER TABLE [dbo].[TabloTedarik]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[TabloUrun] ([UrunID])
GO
ALTER TABLE [dbo].[TabloUrun]  WITH CHECK ADD FOREIGN KEY([KategoriNo])
REFERENCES [dbo].[TabloKategori] ([KategoriNo])
GO
ALTER TABLE [dbo].[TabloUrun]  WITH CHECK ADD FOREIGN KEY([StokID])
REFERENCES [dbo].[TabloStok] ([StokID])
GO
USE [master]
GO
